body {
    text-align: center;
    color: #40514E;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}


.container1 {
    background-color: #E4F9F5;
    padding: 80px 0;
}

.header-img{
    width: 100px;
    height: 100px;
}

.cloud {
    /* float: right; */
    position: relative;
    left: 30%;
}

.cloud2 {
    position: absolute;
    left: 100px;
}

h1 {
    font-size: 50px;
    margin-bottom: 0px;
    font-family: 'Sacramento', cursive;
    font-weight: bold;

}

p {
    font-family: Comic Sans MS, cursive, sans-serif;
    line-height: 2;
}

.web {
    border-radius: 100%;
    width: 20%;
    float: left;
    margin-right: 20px;
}

.data-science {
    border-radius: 100%;
    width: 20%;
    float: right;
    margin-left: 20px;
}

.profile-pic {
    border-radius: 100%;
    width: 100px;
    margin: 20px;
}

.skill-row {
    width: 50%;
    margin: 50px auto;
    text-align: left;

}

h4 {
    font-family: Comic Sans MS, cursive, sans-serif;
    color: #11999E;
}

.profile-pic1 {
    width: 100px;
    position: relative;
    right: 45%;

}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 5%;
    margin: 50px auto;

}

.profile {
    width: 25%;
    margin: 40px auto;
}

h2 {
    font-family: Comic Sans MS, cursive, sans-serif;
}

.btn {
    font-family: Comic Sans MS, cursive, sans-serif;
    color: #ffffff;
    font-size: 17px;
    margin: 30px 0 0;
    width: 15%;
}


.bottom-container {
    background-color: #2989c0;
    padding: 50px 0 10px;
    margin-top: 50px;
}

a {
    color: black;
    margin: 10px 20px;
    font-family: Comic Sans MS, cursive, sans-serif;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.footer-link{
    color: #ffffff;
    font-size: larger;
}

.footer-link :hover{
    color: black;
}

.copyright {
    color: #EAF6F6;
    margin-top: 20px;
}

/* nav{
    background-color: #E4F9F5;
  } */


/* Media Queries */
@media (max-width:600px) {

    .bottom-container,
    .navbar,
    .container1 {
        width: 600px;
    }
    .container2{
        margin: 0 auto;
        width: 600px;
    }

    .mountain {
        width: 50%;
    }

    .cloud2 {
        left: 5%
    }

    .profile {
        width: 50%;
    }

    .hello {
        width: 85%;
        margin: auto;
    }
}
